@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf)
        format("truetype");
}
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body {
    background: #eee;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 0.05em;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
}
.content {
    justify-content: center;
    display: grid;
}
#popup-ct {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 90%;
    width: 100%;
    margin-top: 30px;
    padding-left: 30px;
    position: absolute;
    left: 5px;
    justify-content:space-around
}
#popup-ct a {
    height: fit-content;
    background-color: #4fc5c5;
    border-radius: 15px;
    padding: 10px;
    width: fit-content;
    margin-bottom: 5px;
    color: #faeeee;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.tab-content #popup-menu {
    width: 90%;
    height: 60%;
    position: absolute;
    background-color: #eee;
    z-index: 6;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    display: none;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.tab-content .child {
    margin-top: 20px; /* Just for separation in the example */
}

.componentsBox {
    padding: 50px;
    border-bottom: 1px solid #e5e5e5;
}
/* css for switch button */
.switch {
    display: inline-block;
}
.switch input {
    display: none;
}
.switch small {
    display: inline-block;
    width: 63px;
    height: 25px;
    background: #455a64;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}
.switch small:after {
    /* content: "Minor"; */
    position: absolute;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    left: 2px;
    text-align: right;
    padding: 0 5px;
    box-sizing: border-box;
    line-height: 23px;
}
.switch small:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    top: 5px;
    left: 4px;
    transition: 0.3s;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1);
}
.switch input:checked ~ small {
    background: #4fc5c5;
    transition: 0.3s;
}
.switch input:checked ~ small:before {
    transform: translate(41px, 0px);
    transition: 0.3s;
}
.switch input:checked ~ small:after {
    /* content: "Major"; */
    text-align: left;
}
/* thay doi text cho 3 nut */
#sw-minor small:after {
    content: "Minor";
}
#sw-minor input:checked ~ small:after {
    content: "Major";
}
#sw-finger small:after {
    content: "Finger";
}
#sw-finger input:checked ~ small:after {
    content: "Note";
}

#sw-tone small:after {
    content: "# ⇋ b";
}
#sw-tone input:checked ~ small:after {
    content: "b ⇋ #";
}

.tab-content .position-right {
    position: absolute;
    top: 5px;
    right: 8px;
    color: #211f1d;
    text-decoration: none;
}
#indicate {
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
}
.guitar-neck #barres {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #686868de;
    border-radius: 20px;
    top: 80px;
    opacity: 0;
}
.fretboard {
    max-width: 260px;
    width: 75%;
    height: 420px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding-right: 20px; */
    display: inline-block;
    padding-left: 27px;
}
.fretboard::-webkit-scrollbar {
    width: 10px;
}
.tabs-control {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tabs-control li[tab-name] {
    cursor: pointer;
    /* font-size: 24px; */
    font-weight: 500;
    padding: 0 25px;
}

.tabs-control li[tab-name]:not(:last-child) {
    border-right: 2px solid black;
}
.tabs-control li[tab-name]:first-child {
    padding-left: 0;
}
.tabs-control li[tab-name]:last-child {
    padding-right: 0;
}

.tabs-control li[tab-name].active {
    font-weight: 700;
    color: #17a2b8;
    text-decoration: underline;
}

.active[button-click] {
    transition: all 0.3s ease-in-out;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.guitar-neck {
    position: relative;
    width: 100%;
    height: 2020px;
    background: #755628;
    box-shadow: inset -1px 0px 11px 0px rgba(0, 0, 0, 0.75);
}
#indicate .open-notes {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 93%;
    padding-left: 20px;
    /* left:-2px */
}

.guitar-neck .fret {
    height: 3px;
    background: #d7d6d6;
    border-bottom: 2px solid #686868;
    margin-top: 75px;
}
.guitar-neck .fret.first {
    margin: 0;
    position: relative;
    height: 10px;
    width: 100%;
    background: #211f1d;
    z-index: 4;
}
.guitar-neck .dots {
    position: absolute;
    width: 99.5%;
    height: 760px;
    top: 200px;
    padding: 0px;
}
.guitar-neck .dots li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #383530;
    margin-bottom: 140px;
    margin-left: 48%;
}
.guitar-neck .strings {
    position: absolute;
    left: -10px;
    top: 0px;
    width: 98.5%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.guitar-neck .strings li {
    width: 6px;
    display: inline-block;
    height: 100%;
    background: #c8bb93;
    border-top: 2px solid #958963;
    box-sizing: border-box;
}
.guitar-neck .strings li:nth-child(2) {
    width: 5px;
}
.guitar-neck .strings li:nth-child(3) {
    width: 4px;
}
.guitar-neck .strings li:nth-child(4) {
    width: 3px;
}
.guitar-neck .strings li:nth-child(5) {
    width: 2px;
}
.guitar-neck .strings li:nth-child(6) {
    width: 1px;
    margin-right: 0;
}
.guitar-neck .notes {
    position: absolute;
    top: -45px;
    width: 100%;
    height: 2020px;
    overflow-y: hidden;
    overflow-x: hidden;
    left: 1px;
    display: flex;
    justify-content: space-between;
}
.guitar-neck .notes .mask {
    /* position: absolute; */
    width: 30px;
    height: fit-content;
    margin: 0;
}
/* .guitar-neck .notes .mask:nth-child(2) {
    margin-left: 0px;
} */
.guitar-neck .notes .mask:nth-child(3) {
    margin-left: 3px;
}
/* .guitar-neck .notes .mask:nth-child(4) {
    margin-left: 1px;
} */

.guitar-neck .notes .mask ul {
    position: relative;
    padding: 0;
}

#indicate .open-notes li {
    /* float: left; */
    width: 28px;
    height: 28px;
    background: #fa990f;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.guitar-neck .notes .mask ul li {
    float: left;
    width: 30px;
    height: 30px;
    margin-bottom: 50px;
    background: #fa990f;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.guitar-neck .compartment-number {
    position: absolute;
    top: 33px;
    left: -25px;
    z-index: 5;
    padding: 0px;
}

.guitar-neck .compartment-number li {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 52px;
    text-align: right;
}

/* Controls */
.controls {
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px;
    left: 50%;
    margin-left: -380px;
    width: 760px;
    text-align: center;
    color: #333;
}
.controls a {
    text-decoration: none;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    margin-right: 40px;
}
.controls a.down {
    margin-right: 0;
}
.controls h2 {
    text-transform: uppercase;
    margin: 40px 0;
}
.controls ul li {
    float: left;
    width: 40px;
    height: 20px;
    background: #333;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}
.controls ul li:last-child {
    margin-right: 0;
}
.controls ul {
    height: 20px;
}

.controls .control-chord {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .control-chord .control-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.controls .control-chord .control-header .checkbox-show-note {
    display: flex;
    gap: 5px;
}

.controls
    .control-chord
    .control-header
    .checkbox-show-note
    input[type="checkbox"] {
    width: 40px;
}

.controls .control-chord ul:last-child {
    margin-top: 20px;
}

/* Control for Chord */
.controls:has(.control-chord) {
    margin-top: 25px;
}

/* Red dot */
.guitar-neck .red-dots {
    position: absolute;
    top: -45px;
    width: 100%;
    height: 2020px;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    padding-left: 2px;
}
.guitar-neck .red-dots .red-dot {
    width: 30px;
    height: 1000px;
}
.guitar-neck .red-dots .red-dot ul {
    position: relative;
    float: left;
    padding: 0;
}
.guitar-neck .red-dots .red-dot ul li {
    float: left;
    width: 30px;
    height: 30px;
    margin-bottom: 50px;
    background: #a10000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    opacity: 0;
}
.guitar-neck .red-dots .red-dot ul li:nth-child(1) {
}
.guitar-neck .red-dots .red-dot.a {
}
.guitar-neck .red-dots .red-dot.d {
}
.guitar-neck .red-dots .red-dot.g {
}
.guitar-neck .red-dots .red-dot.b {
}
.guitar-neck .red-dots .red-dot.high-e {
}
