@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/s/sourcesanspro/v22/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

body {
    background: rgb(238, 238, 238);
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 0.05em;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
}

.content {
    justify-content: center;
    display: grid;
}

#popup-ct {
    overflow: hidden scroll;
    margin-top: 47px;
    position: relative;
    max-height: 210px;
    display: flex;
    flex-wrap: wrap;
}

#popup-ct a {
    display: block;
    height: fit-content;
    background-color: rgb(79, 197, 197);
    border-radius: 7px;
    padding: 5px;
    width: fit-content;
    margin: 5px;
    color: rgb(250, 238, 238);
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border-top: 3px solid rgb(0, 180, 204);
    border-bottom: 3px solid rgb(0, 180, 204);
    border-left: 3px solid rgb(0, 180, 204);
    border-image: initial;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    outline: none;
    color: rgb(157, 191, 175);
    height: 100%;
}

.searchTerm:focus {
    color: rgb(0, 180, 204);
}

.searchButton {
    width: 40px;
    height: 31px;
    border: 1px solid rgb(0, 180, 204);
    background: rgb(0, 180, 204);
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    font-size: 20px;
}

.tab-content #popup-menu {
    width: 90%;
    max-width: 300px;
    height: 300px;
    position: absolute;
    background-color: rgb(238, 238, 238);
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: none;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.tab-content .child {
    margin-top: 20px;
}

.componentsBox {
    padding: 50px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.switch {
    display: inline-block;
}

.switch input {
    display: none;
}

.switch small {
    display: inline-block;
    width: 63px;
    height: 25px;
    background: rgb(69, 90, 100);
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.switch small::after {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    left: 1px;
    text-align: right;
    padding: 0px 5px;
    box-sizing: border-box;
    line-height: 23px;
}

.switch small::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    top: 5px;
    left: 4px;
    transition: all 0.3s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.1) -3px 0px 3px;
}

.switch input:checked ~ small {
    background: rgb(79, 197, 197);
    transition: all 0.3s ease 0s;
}
#chord-name {
    padding-right: 47px;
    font-family: 'Times New Roman', Times, serif;
}
#chord-name #note {
    font-size: 50px;
}
#chord-name #suffix {
    font-size: 30px;
}
.switch input:checked ~ small::before {
    transform: translate(41px, 0px);
    transition: all 0.3s ease 0s;
}

.switch input:checked ~ small::after {
    text-align: left;
}

#sw-minor small::after {
    content: "Minor";
}

#sw-minor input:checked ~ small::after {
    content: "Major";
}

#sw-finger small::after {
    content: "Finger";
}

#sw-finger input:checked ~ small::after {
    content: "Note";
}

#sw-tone small::after {
    content: "# ⇋ b";
}

#sw-tone input:checked ~ small::after {
    content: "b ⇋ #";
}

.tab-content .position-right {
    position: absolute;
    top: 5px;
    right: 8px;
    color: rgb(33, 31, 29);
    text-decoration: none;
}

#indicate {
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
}

.guitar-neck #barres {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: rgba(104, 104, 104, 0.87);
    border-radius: 20px;
    top: 80px;
    opacity: 0;
}

.fretboard {
    max-width: 260px;
    width: 75%;
    height: 409px;
    overflow: hidden scroll;
    padding-left: 27px;
}

.fretboard::-webkit-scrollbar {
    width: 10px;
}

.tabs-control {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tabs-control li[tab-name] {
    cursor: pointer;
    font-weight: 500;
    padding: 0px 25px;
}

.tabs-control li[tab-name]:not(:last-child) {
    border-right: 2px solid black;
}

.tabs-control li[tab-name]:first-child {
    padding-left: 0px;
}

.tabs-control li[tab-name]:last-child {
    padding-right: 0px;
}

.tabs-control li[tab-name].active {
    font-weight: 700;
    color: rgb(23, 162, 184);
    text-decoration: underline;
}

.active[button-click] {
    transition: all 0.3s ease-in-out 0s;
    background-color: rgb(23, 162, 184);
    border-color: rgb(23, 162, 184);
}

.guitar-neck {
    position: relative;
    width: 100%;
    height: 2020px;
    background: rgb(117, 86, 40);
    box-shadow: rgba(0, 0, 0, 0.75) -1px 0px 11px 0px inset;
}

#indicate .open-notes {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 95%;
    padding-left: 25px;
}

.guitar-neck .fret {
    height: 3px;
    background: rgb(215, 214, 214);
    border-bottom: 2px solid rgb(104, 104, 104);
    margin-top: 75px;
}

.guitar-neck .fret.first {
    margin: 0px;
    position: relative;
    height: 10px;
    width: 100%;
    background: rgb(33, 31, 29);
    z-index: 4;
}

.guitar-neck .dots {
    position: absolute;
    width: 99.5%;
    height: 760px;
    top: 200px;
    padding: 0px;
}

.guitar-neck .dots li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(56, 53, 48);
    margin-bottom: 140px;
    margin-left: 48%;
}

.guitar-neck .strings {
    position: absolute;
    left: -10px;
    top: 0px;
    width: 98.5%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.guitar-neck .strings li {
    width: 6px;
    display: inline-block;
    height: 100%;
    background: rgb(200, 187, 147);
    border-top: 2px solid rgb(149, 137, 99);
    box-sizing: border-box;
}

.guitar-neck .strings li:nth-child(2) {
    width: 5px;
}

.guitar-neck .strings li:nth-child(3) {
    width: 4px;
}

.guitar-neck .strings li:nth-child(4) {
    width: 3px;
}

.guitar-neck .strings li:nth-child(5) {
    width: 2px;
}

.guitar-neck .strings li:nth-child(6) {
    width: 1px;
    margin-right: 0px;
}

.guitar-neck .notes {
    position: absolute;
    top: -45px;
    width: 100%;
    height: 2020px;
    overflow: hidden;
    left: 1px;
    display: flex;
    justify-content: space-between;
}

.guitar-neck .notes .mask {
    width: 30px;
    height: fit-content;
    margin: 0px;
}

.guitar-neck .notes .mask:nth-child(3) {
    margin-left: 3px;
}

.guitar-neck .notes .mask ul {
    position: relative;
    padding: 0px;
}

#indicate .open-notes li {
    width: 28px;
    height: 28px;
    background: rgb(250, 153, 15);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px 0px;
    display: inline-block;
}

.guitar-neck .notes .mask ul li {
    float: left;
    width: 30px;
    height: 30px;
    margin-bottom: 50px;
    background: rgb(250, 153, 15);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 5px 0px;
}

.guitar-neck .compartment-number {
    position: absolute;
    top: 33px;
    left: -25px;
    z-index: 5;
    padding: 0px;
}

.guitar-neck .compartment-number li {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 52px;
    text-align: right;
}

.controls {
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px;
    left: 50%;
    margin-left: -380px;
    width: 760px;
    text-align: center;
    color: rgb(51, 51, 51);
}

.controls a {
    text-decoration: none;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    margin-right: 40px;
}

.controls a.down {
    margin-right: 0px;
}

.controls h2 {
    text-transform: uppercase;
    margin: 40px 0px;
}

.controls ul li {
    float: left;
    width: 40px;
    height: 20px;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    margin-right: 20px;
    cursor: pointer;
}

.controls ul li:last-child {
    margin-right: 0px;
}

.controls ul {
    height: 20px;
}

.controls .control-chord {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .control-chord .control-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.controls .control-chord .control-header .checkbox-show-note {
    display: flex;
    gap: 5px;
}

.controls .control-chord .control-header .checkbox-show-note input[type="checkbox"] {
    width: 40px;
}

.controls .control-chord ul:last-child {
    margin-top: 20px;
}

.controls:has(.control-chord) {
    margin-top: 25px;
}

.guitar-neck .red-dots {
    position: absolute;
    top: -45px;
    width: 100%;
    height: 2020px;
    overflow: hidden;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    padding-left: 2px;
}

.guitar-neck .red-dots .red-dot {
    width: 30px;
    height: 1000px;
}

.guitar-neck .red-dots .red-dot ul {
    position: relative;
    float: left;
    padding: 0px;
}

.guitar-neck .red-dots .red-dot ul li {
    float: left;
    width: 30px;
    height: 30px;
    margin-bottom: 50px;
    background: rgb(161, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 5px 0px;
    opacity: 0;
}

.guitar-neck .red-dots .red-dot ul li:nth-child(1) {
}

.guitar-neck .red-dots .red-dot.a {
}

.guitar-neck .red-dots .red-dot.d {
}

.guitar-neck .red-dots .red-dot.g {
}

.guitar-neck .red-dots .red-dot.b {
}

.guitar-neck .red-dots .red-dot.high-e {
}
